<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles de Carrera</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container my-5">
    <div class="card">
        <div class="card-header bg-info text-white text-center">
            <h2 th:text="${carrera.nombreCarrera}"></h2>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <h5><strong>ID:</strong></h5>
                <p th:text="${carrera.carreraId}"></p>
            </div>
            <div class="mb-3">
                <h5><strong>Nombre de la Carrera:</strong></h5>
                <p th:text="${carrera.nombreCarrera}"></p>
            </div>
            <div class="mb-3">
                <h5><strong>Departamento:</strong></h5>
                <p th:text="${carrera.departamento.nombreDepartamento}"></p>
            </div>
            <div class="mb-3">
                <h5><strong>Número de Niveles:</strong></h5>
                <p th:text="${carrera.numNivel}"></p>
            </div>
            <div class="text-center">
                <a th:href="@{/carreras}" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
