<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Gestionar Carreras</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container my-5">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" th:href="@{/}">ESPE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/estudiantes}">Estudiantes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/carreras}">Carreras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/usuarios}">Usuario</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Fin del Navbar -->

  <div class="card">
    <div class="card-header bg-primary text-white text-center">
      <h1>Gestionar Carreras</h1>
    </div>
    <div class="card-body">
      <div class="mb-3 text-center">
        <a class="btn btn-success btn-lg" th:href="@{/carreras/nuevo}">Añadir Carrera</a>
      </div>

      <div th:if="${message}" class="alert alert-success" role="alert">
        <p th:text="${message}"></p>
      </div>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Departamento</th>
            <th>Número de Niveles</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <th:block th:each="carrera : ${listCarreras}">
            <tr>
              <td th:text="${carrera.carreraId}"></td>
              <td th:text="${carrera.nombreCarrera}"></td>
              <td th:text="${carrera.departamento.nombreDepartamento}"></td> <!-- Corregido -->
              <td th:text="${carrera.numNivel}"></td>

              <td>
                <a class="btn btn-info btn-sm" th:href="@{'/carreras/detalles/' + ${carrera.carreraId}}">Detalles</a>
                <a class="btn btn-warning btn-sm" th:href="@{'/carreras/editar/' + ${carrera.carreraId}}">Editar</a>
                <a class="btn btn-danger btn-sm" th:href="@{'/carreras/eliminar/' + ${carrera.carreraId}}">Eliminar</a>
              </td>
            </tr>
          </th:block>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
