<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Formulario de Estudiante</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container my-5">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h1 th:text="${pageTitle}">Formulario de Estudiante</h1>
        </div>
        <div class="card-body">
            <form th:action="@{/estudiantes/guardar}" th:object="${estudiante}" method="post">
                <!-- Campo oculto para el ID -->
                <input type="hidden" th:field="*{id}" />

                <div class="form-group">
                    <label for="nombreEstudiante">Nombre</label>
                    <input type="text" id="nombreEstudiante" name="nombreEstudiante" class="form-control" th:field="*{nombreEstudiante}" placeholder="Introduce el nombre del estudiante" maxlength="45" required />
                </div>

                <div class="form-group">
                    <label for="apellidoEstudiante">Apellido</label>
                    <input type="text" id="apellidoEstudiante" name="apellidoEstudiante" class="form-control" th:field="*{apellidoEstudiante}" placeholder="Introduce el apellido del estudiante" maxlength="45" required />
                </div>

                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <select id="usuario" name="usuario" class="form-control" th:field="*{usuario}" required>
                        <option value="" disabled selected>Selecciona un usuario</option>
                        <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.user}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="carrera">Carrera</label>
                    <select id="carrera" name="carrera" class="form-control" th:field="*{carrera}" required>
                        <option value="" disabled selected>Selecciona una carrera</option>
                        <option th:each="carrera : ${carreras}" th:value="${carrera.carreraId}" th:text="${carrera.nombreCarrera}"></option>
                    </select>
                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a th:href="@{/estudiantes}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
